.dashboard{
width:80%;
margin:auto;
text-align:center;
}

.stats{
display:flex;
justify-content:space-around;
margin:20px 0;
}

.card{
background:#eee;
padding:20px;
width:150px;
border-radius:8px;
}

.green{
background:#b6f7b6;
}

.red{
background:#ffb3b3;
}

.yellow{
background:#fff3a6;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ccc;
padding:10px;
}

.logout{
float:right;
background:red;
color:white;
padding:8px 15px;
border:none;
cursor:pointer;
}